<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["DecoSOP.styles.css"]" />
    <ImportMap />
    <title>DecoSOP</title>
    <meta name="description" content="SOP and document management system for your local network." />
    <link rel="icon" type="image/svg+xml" href="icon.svg" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["js/sidebar-resize.js"]"></script>
    <script src="@Assets["js/document-interop.js"]"></script>
    <script src="@Assets["js/context-menu-interop.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
